.header {
    background: #fff;
    padding: 34px 0;
    position: relative;
    .menu-search-wrap {
        display: flex;
        align-items: center;
        .search-toggle {
            padding: 6px 0 6px 42px;
            border-left: 1px solid #e8e8e8;
            font-size: 20px;
        }

    }
    .main-menu {
        @media screen and (max-width: $tablet) {
            display: none;
            position: absolute;
            z-index: 110;
            left: 0;
            right: 0;
            top: 0;
            text-align: center;
            background: #f0f0f0;
        }
        li {
            @media screen and (max-width: $tablet) {
                float: none;
                margin: 0;
                border-bottom: 1px solid #000;
            }
            a {
                @media screen and (max-width: $tablet) {
                    display: block;
                    padding: 16px 26px;
                }
            }
            &.drop-down {
                > a {
                    @media screen and (max-width: $tablet) {
                        margin: 0;
                        padding: 15px 26px;
                        border-bottom: 1px solid #000;
                    }
                    &:after{
                        display: none;
                    }
                }
            }
            &.drop-down > ul {
                @media screen and (max-width: $tablet) {
                    display: block;
                    position: relative;
                    top: 0;
                    border-top: none;
                    box-shadow: none;
                    left: 0;
                    background: #f0f0f0;
                }
                li {
                    @media screen and (max-width: $tablet) {
                        border-bottom: 1px solid #000;
                    }
                    &:last-child{
                        @media screen and (max-width: $tablet) {
                            border-bottom: none;
                        }
                    }
                    &:nth-child(even) {
                        @media screen and (max-width: $tablet) {
                            background: none;
                        }
                    }
                }
            }
        }
    }
    .menu-mob{
        display: none;
        color: #333;
        font-size: 20px;
        line-height: 1;
        margin-right: 40px;
        position: relative;
        z-index: 999;
        @media screen and (max-width: $tablet){
            display: block;
        }
    }
}