.main-menu {
    li {
        float: left;
        margin: 0 54px 0 0;
        a {
            color: #565656;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px 5px 45px 5px;
            &:hover {
                color: #ffd942;
                text-decoration: underline;
            }
        }
        &.drop-down {
            position: relative;
            > a:after {
                content: '';
                display: inline-block;
                border: 4px solid transparent;
                border-top-color: #ffd942;
                margin: 0 0 0 10px;
            }
        }
        &.drop-down > ul {
            display: none;
            position: absolute;
            top: 58px;
            left: -32px;
            z-index: 110;
            background: $color-alt;
            border-top: 1px solid #ffd942;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            li {
                float: none;
                margin: 0;
                &:nth-child(even) {
                    background: #fafbfc;
                }
            }
            a {
                display: block;
                padding: 15px 26px;
                white-space: nowrap;
            }
        }
        &.drop-down:hover > ul {
            display: block;
        }
    }
}