$color: #333;
$color-alt: #fefefe;
$color-second: #000;
$color-third: #808080;

$color-border: #000;
$color-hover: #0051aa;

$bg: #fff;
$bg-btn: #000;

$font: 'Work Sans',Arial, sans-serif;
$font-alt: 'Libre Baskerville',Arial, sans-serif;
$font-alt: 'Libre Baskerville',Arial, sans-serif;

$inner: 1190px;
$section: 85px 0;
$section-mob: 30px 0;

$pad: 20px;

$laptop: 1240px;
$tablet: 959px;
$mobile: 767px;


//icons
$icomoon-font-path: "fonts" !default;

$icon-arrow: \e900;
$icon-facebook-path1: \e901;
$icon-facebook-path2: \e902;
$icon-houzz-path1: \e903;
$icon-houzz-path2: \e904;
$icon-instagram-path1: \e905;
$icon-instagram-path2: \e906;
$icon-instagram-path3: \e907;
$icon-instagram-path4: \e908;
$icon-search: \e909;
$icon-twitter-path1: \e90a;
$icon-twitter-path2: \e90b;
$icon-cross: \ea0f;